:root {
	--vz-body-bg: #f2f2f7;
	--vz-body-color: #212529;

	--vz-vertical-menu-bg: #fff;
	--vz-vertical-menu-item-color: #6d7080;
	--vz-vertical-menu-item-hover-color: #4b38b3;
	--vz-vertical-menu-item-active-color: #4b38b3;
	--vz-vertical-menu-title-color: #919da9;

	--vz-header-bg: #fff;
	--vz-header-item-color: #e9ecef;

	--vz-topbar-search-bg: #f3f3f9;
	--vz-topbar-user-bg: #f3f3f9;
	--vz-footer-bg: #fff;
	--vz-footer-color: #98a6ad;
	--vz-topnav-bg: #fff;
	--vz-topnav-item-color: #6d7080;
	--vz-topnav-item-color-active: #4b38b3;
	--vz-boxed-body-bg: #e5e5ef;

	--vz-heading-color: #495057;
	--vz-box-shadow: 0 3px 3px rgba(56, 65, 74, 0.1);

	--vz-thead-bg: #f3f6f9;

	--vz-light: #f3f6f9;
	--vz-light-rgb: 243, 246, 249;
	--vz-dark: #212529;
	--vz-dark-rgb: 33, 37, 41;
	--vz-link-color: #4b38b3;
	--vz-link-hover-color: #4b38b3;
	--vz-border-color: #e9ebec;
	--vz-dropdown-bg: #fff;
	--vz-dropdown-link-color: #212529;
	--vz-dropdown-link-hover-color: #1e2125;
	--vz-dropdown-link-hover-bg: #f3f6f9;
	--vz-dropdown-border-width: 0;
	--vz-card-bg: #fff;
	--vz-card-cap-bg: #fff;
	--vz-card-logo-dark: block;
	--vz-card-logo-light: none;
	--vz-modal-bg: #fff;
	--vz-nav-tabs-link-active-color: #495057;
	--vz-nav-tabs-link-active-bg: #f2f2f7;
	--vz-accordion-button-active-color: #4432a1;
	--vz-progress-bg: #eff2f7;
	--vz-toast-background-color: rgba(255, 255, 255, 0.85);
	--vz-toast-border-color: rgba(0, 0, 0, 0.1);
	--vz-toast-header-border-color: rgba(0, 0, 0, 0.05);
	--vz-list-group-hover-bg: #f3f6f9;
	--vz-popover-bg: #fff;
	--vz-pagination-hover-bg: #eff2f7;
	--vz-input-bg: #fff;
	--vz-input-border: #ced4da;
	--vz-input-focus-border: #a59cd9;
	--vz-input-disabled-bg: #eff2f7;
	--vz-input-group-addon-bg: #eff2f7;

	--vz-border-color: #e9ebec;
    --vz-scroll-color:rgba(0,0,0,.5);
	--vz-btn-bg:black;
	--vz-btn-text:white;

}
.dark {
	--vz-gray-100: #1a1d21;
	--vz-gray-200: #212529;
	--vz-gray-300: #2a2f34;
	--vz-gray-400: #878a99;
	--vz-gray-500: #adb5bd;
	--vz-gray-600: #bfc8e2;
	--vz-gray-700: #ced4da;
	--vz-gray-800: #eff2f7;
	--vz-gray-900: #f3f6f9;

	--vz-body-bg: #1a1d21;
	--vz-body-color: #ced4da;
	--vz-btn-bg : white;
	--vz-btn-text:black;

	--vz-vertical-menu-bg: #212529;
	--vz-vertical-menu-item-color: #878a99;
	--vz-vertical-menu-item-hover-color: #fff;
	--vz-vertical-menu-item-active-color: #fff;
	--vz-vertical-menu-title-color: #5f6270;

	--vz-header-bg: #262a2f;
	--vz-header-item-color: #e9ecef;

	--vz-thead-bg: #2a2f34;

	--vz-topbar-search-bg: #1a1d21;
	--vz-topbar-user-bg: #2f343a;
	--vz-topbar-user-bg-dark: #2a2a50;
	--vz-topbar-user-bg-dark: #2f343a;
	--vz-footer-bg: #23282c;
	--vz-footer-color: #878a99;
	--vz-topnav-bg: #272b30;
	--vz-topnav-item-color: #878a99;
	--vz-topnav-item-color-active: #fff;

	--vz-heading-color: #ced4da;
	--vz-box-shadow: 0 3px 5px rgba(29, 35, 40, 0.15);
	--vz-light: #2a2f34;
	--vz-dark: #eff2f7;
	--vz-link-color: #ced4da;
	--vz-link-hover-color: #ced4da;
	--vz-border-color: #32383e;
	--vz-card-bg: #212529;
	--vz-card-cap-bg: #212529;

	--vz-modal-bg: #212529;
	--vz-nav-tabs-link-active-color: #f3f6f9;
	--vz-nav-tabs-link-active-bg: #2a2f34;
	--vz-accordion-button-active-color: #fff;
	--vz-progress-bg: #2a2f34;
	--vz-toast-background-color: rgba(42, 47, 52, 0.85);
	--vz-toast-border-color: rgba(255, 255, 255, 0.1);
	--vz-toast-header-border-color: rgba(255, 255, 255, 0.05);
	--vz-list-group-hover-bg: #272b30;
	--vz-popover-bg: #23282c;
	--vz-pagination-hover-bg: #2a2f34;
	--vz-input-bg: #262a2f;
	--vz-input-border: #2a2f34;
	--vz-input-focus-border: #33393f;
	--vz-input-disabled-bg: #212529;
	--vz-input-group-addon-bg: #2a2f34;
	--vz-input-check-border: #33393f;

	--vz-border-color: #32383e;
    --vz-scroll-color:rgba(255,255,255,.5);
}
#chart-revenu,
#chart-orders {
	width: 100% !important;
}
.container {
	display: grid;
	grid-template-columns: 1fr;
	place-content: baseline;
	border-radius: 12px;
	background: var(--vz-card-bg);
	box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.03);
	height: calc(100vh - 64px - 3rem);
	overflow: auto;
}
.p-image {
	width: 50px;
	height: 50px;
	border-radius: 10px;
	object-fit: cover;
}

.table {
	text-align: left;
	overflow: auto;
}
table {
	border-collapse: collapse;
	width: 100%;
}
thead {
	background: var(--vz-thead-bg);
}
th,
td {
	padding: 0.75rem 0.6rem;
	white-space: nowrap;
}
td {
	border-bottom: 1px solid var(--vz-border-color);
}
td:first-child {
	padding-left: 1rem;
}

th:first-child {
	padding-left: 1rem;
}
tr {
	cursor: default;
}
.confirmed,
.passed,
.delivered,
.refused,
.canceled,
.enroute {
	padding: 0.3em;
}
.confirmed {
	color: #ff6e40;
	background: rgba(255, 110, 64, 0.1);
}
.passed {
	color: #3577f1;
	background: rgba(53, 119, 241, 0.1);
}
.delivered {
	color: #45cb85;
	background: rgba(69, 203, 133, 0.1);
}
.refused {
	color: #f06548;
	background: rgba(240, 101, 72, 0.1);
}
.canceled {
	color: #4b38b3;
	background: rgba(75, 56, 179, 0.1);
}
.enroute {
	color: #299cdb;
	background: rgba(41, 156, 219, 0.1);
}
.nameimage {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

h1 {
	font-size: 1.44rem;
	margin: 1rem;
}
.input-wrapper {
	margin: 0 0 1rem 0;
	position: relative;
}

.icon {
    position:absolute;
	top: 0;
	left: 10px;
	height: 100%;
	display: flex;
	align-items: center;
}


.input {
	width: 100%;
	padding: 1rem 2rem;
	border-radius: 12px;
	border: 1px solid var(--vz-input-border);
	background: var(--vz-input-bg);
}

@media (min-width: 600px) {
	.input {
		padding: 0.8rem 2rem;
	}
}

.act-cont {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1rem;
	margin: 1.5rem 0;
}
.btn-act {
	padding: 1rem;
	width: 100%;
}
.client-container {
	display: grid;
	gap: 1rem;

	/* height: calc(100vh - 64px - 3rem); */
    overflow:scroll;
}
@media (min-width: 1000px) {
	.client-container {
		grid-template-columns: 1fr 2fr;
	}
}
.container-main{

	box-shadow: var(--vz-box-shadow);
}
.container-main,
.container-aside {
	border-radius: 12px;

	background: var(--vz-card-bg);

	padding: 1rem;
	/* overflow:hidden; */
	overflow: auto;
	height: fit-content;
}

.container-aside > p {
    font-size:1.1rem;
    font-weight:500;
    padding:0 0 1rem 0;
}
.header {
	display: flex;
	justify-content: center;
	align-items: center;
}
.image-container {
	width: 250px;
	height: 250px;
	margin: 0 0 1.5rem 0;
}
.profile-img {
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.05);
	border-width: 2px;
	border-color: var(--vz-border-color);
}
.info,
.act {
	overflow: auto;
	border: 1px solid var(--vz-border-color);
	border-radius: 12px;
	padding: 0 1.5rem;
	margin: 1.5rem 0;
}
.info > div {
	display: grid;
	grid-template-columns: minmax(150px, 1fr) minmax(150px, 2fr);
	margin: 1.5rem 0;
	align-items: center;
}
.ret-btn {
	background: none;
	text-decoration: underline;
}
.item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	margin: 1rem 0;
}
.product-img-container {
	width: 80px;
	height: 80px;
}
.prod-img {
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
}
.scsNtf,
.errNtf {
	cursor: pointer;
	margin: 1rem 0;
}
.scsNtf {
	color: green;
}
.errNtf {
	color: red;
}
.title {
	font-size: 1.44rem;
	font-weight: bold;
	line-height: 1.2;
	padding: 1.5rem 0;
	width: 100%;
    color:var(--vz-heading-color);
}
@media (max-width: 600px) {
	.info > div > p {
		font-size: 12px;
	}
}
.status{

    white-space:nowrap;
    overflow:auto;
}
.btn-stat {

    width:100px;
	background: transparent;
	border: none;
	border-bottom: none;
	font-weight: 500;
	padding: 0.9rem;
	padding-top: 0;
	font-size: 0.8rem;
	outline: none;
	/* transition: color .15s ease-in-out,border-bottom .15s ease-in-out; */
}
.btn-stat-sel {
	border-bottom: 2px solid green;
	color: green;
}
.card {
	overflow: hidden;
	border-radius: 12px;
	background: var(--vz-card-bg);

box-shadow:var(--vz-box-shadow);
}

.modal {
  width: 50%;
  min-width:90%;
  max-width: 50%;
  margin: auto;
  padding: 1rem;
  background:var(--vz-card-bg);
  box-shadow :var(--vz-box-shadow);
  border-radius:12px;
}
.modal::backdrop {
    background : rgba(0,0,0,.5);
}
.modal h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color:var(--vz-body-color);
}
.modal div {
  width: 100%;
}
.modal input[type="text"],
textarea,
select {
  margin: 10px 0;
  width: 100%;
  padding: 10px!important;
  color:var(--vz-body-color);
}
.modal input[type="checkbox"] {
  margin: 1rem;
}
.modal button {
  border: none;
  border-radius:12px;
  margin: 1rem 0;
  padding: 10px 1rem;
}
